#left_wrapper {
	width: 15%;
	display: inline-block;
}

#mid_wrapper {
	width: 70%;
	display: inline-block;
}

#right_wrapper {
	width: 15%;
	display: inline-block;
}

#density_map {
    top: 100px;
    bottom: 100px;
    /* height: 500px;
    width: 600px; */
}

#scatter_plot {
    top: 100px;
    bottom: 100px;
    /*height: 1000px;
	width: 800px;*/
}
