body {
	background-image: url("https://github.com/suhaaskataria/3179/blob/main/Nobel_Prize.png?raw=true");
	background-color: lightblue;
}

div {
	position: unset;
}

#spacer {
	width: 100%;
	height: 50px;
}
#left_wrapper {
	width: 15%;
	display: inline-block;
	background-color: lightblue;
}

#mid_wrapper {
	width: 70%;
	display: inline-block;
	background-color: white;
}

#right_wrapper {
	width: 15%;
	display: inline-block;
	background-color: lightblue;
}

.vega-embed {
    position: unset;
}

#sub_title {
	width: 100%;
	display: block;
	top: 100px;
	text-align: center;
}

.left_plot {
    	top: 100px;
    	bottom: 100px;
	width: 70%;
    /* height: 500px;
    width: 600px; */
}

.right_plot {
    	top: 100px;
    	bottom: 100px;
	width: 70%;
	float: right;
    /* height: 500px;
    width: 600px; */
}

#right_caption {
	display: inline-block;
	width: 30%;
	float: right;
}

#left_caption {
	display: inline-block;
	width: 30%;
	float: left;
}

#scatter_plot {
    	top: 100px;
    	bottom: 100px;
	width: 100%;
	display: block;
    /*height: 1000px;
	width: 800px;*/
}

#density_map {
	width: 75%;
}

#plot_point {
    	top: 100px;
    	bottom: 100px;
	width: 40%;
	display: inline-block;
}

#text_avg_price {
    	top: 100px;
    	bottom: 100px;
	width: 19%;
	display: inline-block;
}

#plot_bar {
    	top: 100px;
    	bottom: 100px;
	width: 40%;
	display: inline-block;
}
